registry=https://pkgs.dev.azure.com/nxlperformance/_packaging/NXLPerformance/npm/registry/
always-auth=true
//pkgs.dev.azure.com/nxlperformance/_packaging/NXLPerformance/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJuYW1laWQiOiI5NTgxZWU2My1jOWE4LTY3ODgtODQxYy02ZTUyNTQzODE1M2UiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiYzVkZmE0OGUtZjJiMC00YmZmLWI1MzAtODYwNTI0YmUzOTE2Iiwic2lkIjoiNTE2NDA4MGEtZDk0MC00MWM5LWE2MjctMTQzYWFjNjJiZjk1IiwiaXNzIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsImF1ZCI6ImFwcC52c3Rva2VuLnZpc3VhbHN0dWRpby5jb218dnNvOmUwYWUyOTBmLTljN2EtNDUxYS1iMTQzLWZjNmQ2ZWU5ZTk5MyIsIm5iZiI6MTU5NzMyMzk5NSwiZXhwIjoxNjA1MTAwNjM0fQ.zzI4tD-EaV0q1HWNUi1ZbMmz5nXod5WVv_TVNbixIgdbNIRtdKFH_hZWp6XHRQfNek0hzvi66Z2usS2rP14qlMMPlXO-ZRNIXFAsPl5f1Hb55fMQndq9ilGL7h6hD9swxkhP6ar-H42lXCevGGw_28Ah3NrxMhgoIZJK4UM28bIfwl1eUwFbMzrnIJsbG8dr2SYF3IYGozFng9twwt9UlJeVISn3wKK5-BlLjhjb93LnAZIBb8Nvvx2d1sh6Ul5zeRiOU4tnr06pcYfHT4IyDf5Kctdx51GrgO-BA7WUlF-7FhIag08FSFCvbfUYnWwst-r3EXrv8yKzfl05Rl7NNQ

