
mat-card.mat-card{
    color:          $primary-text-color;
    margin-bottom:  $margin-x-20; 
    border:         none; 
    box-shadow:     $box-shadow-d2; 
    padding:        $margin-x-20; 
    border-radius:  0.3rem;

    h4{
        font-size:      $font-size-md; 
        margin-bottom:  $margin-y-20; 
        font-family:    $font-monsterat;
        color:          $primary-text-color;
    }
}