<div class="front-landing">

    <!-- Landing Nav -->
    <div class="front-landing__nav">
        <a href="javascript:void(0)">
            
            <img src="" alt="">
           
        
        </a>
        <div class="front-landing__auth">
            <button mat-flat-button color="transparent" class="btn btn-lg">Log In</button>
            <button mat-flat-button color="accent" class="btn btn-lg">Sign Up</button>
        </div>
    </div>

    <!-- Landing data -->
    <div class="front-landing__body" fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="50">
            <div class="video-box"></div>
        </div>
        <div fxFlex="50" class="video-info">
            <h2>Orci varius natoque penatibus magnis dis parturient montes nascetur ridiculus mus.</h2>
            <button mat-flat-button color="accent" class="btn btn-lg">Get Started</button>
        </div>
    </div>
</div>
